.footer {
  background-color: black;
  height: 600px;
  /* position: relative; */
  overflow: hidden;

  .container {
    /*position: absolute; */
    margin-top: 300px;
    width: 100%;

    .nav {
      display: flex;
      margin-bottom: 25px;
      a {
        color: white;
        margin: 0 20px;
        font-size: 10px;
      }
      img {
        height: 20px;
      }
    }

    .copyright {
      border-top: 1px solid grey;
      color: grey;
      font-size: 11px;
      display: flex;
    }

    .info {
      margin: 0 0 0 auto;
      display: flex;
    }
  }
}

@media screen and (min-width: 376px) {
  .footer {
    .container {
      max-width: 1600px;
      width: 70vw;
      margin: 380px auto;

      .nav {
        a {
          font-size: 18px;
        }
        .imgs {
          margin: 0 0 0 auto;
        }
      }
    }
  }
}
