.nav {
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 10px;
  top: 12px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  width: 70%;
  max-width: 900px;
  height: 35px;
  /* // border: 2px solid red; */
  background: rgba(255, 255, 255, 0.3);
  /* // background-clip: content-box; */
  z-index: 1000;
  padding: 0 10px;
  margin: 0 auto;

  h3 {
    margin: auto 0;
  }

  .pages {
    display: none;
    a {
      color: black;
    }
  }

  .hamburger {
    margin: auto auto;
    span {
      width: 20px;
      height: 2px;
      // color: red;
      background-color: black;
      display: block;
      margin: 3px 0;
    }
  }

  a {
    margin-left: auto;
    margin: auto 0 auto auto;
    background-color: black;
    color: white;
    font-size: 12px;
    width: 50px;
    border-radius: 4px;
    height: 25px;
    text-align: center;
    padding: 7px 5px;
  }
}

@media screen and (min-width: 376px) {
  .nav {
    width: 40%;
    height: 50px;
    max-width: 600px;
    h3 {
    }

    .pages {
      display: block;
      margin: auto auto;
      a {
        background-color: transparent;
      }
    }

    .hamburger {
      display: none;
      span {
      }
    }
    a {
      width: 65px;
    }
  }
}
